@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font1{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  .work-sans-font2 {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  /* shared styles */

  .width{
    max-width: 1440px;
  }
 a{
    text-decoration: none;
 }
  a:hover{
    background-color: lightblue;
  }
  .display-flex{
    display: flex;
  }

  .primary-btn{
    background-color: #111111;
    border-radius: 12px;
    padding: 10px;
  }

  /* nav styles  */
  .nav-container{
    /* width: 1160px;
    height: 62px; */
    justify-content: space-between;
    align-items: center;
    gap: 186px;
    margin: 20px 140px 18px 140px ;

  }
  nav ul{
    gap: 32px;
    list-style: none;
    text-decoration: none;
  }
  .nav-home{
    color: rgb(254, 163, 1);
    font-size: 1.25rem;
    font-weight: 700;
  }
  .nav-about{
    color: rgb(1, 172, 253);
    font-size: 1.25rem;
    font-weight: 500;
  }
  .nav-facilities{
    color: rgb(5, 212, 223);
    font-size: 1.25rem;
    font-weight: 500;
  }
  .nav-admission{
    color: rgb(93, 88, 239);
    font-size: 1.25rem;
    font-weight: 500;
  }
  .nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    width: 197px;
    padding: 10px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    }

  /* banner styles */
  .banner-container{
   width: auto;
    justify-content: space-between; 
    align-items: center;
     gap: 50px;
    margin: 20px 140px 18px 140px ; 
  }
  .banner-items{
    /* width: 640px;
height: 331px; */
    margin-top: 122px;
    margin-bottom: 122px;
  }
  #title-color1{
    color: #FEA301;
  }
  #title-color2{
    color: #01ACFD;
  }
  .banner-img{
    width: 100%;
  }
  
  .section-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: -10px;
    letter-spacing: 0;
  }
  .section-description{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .banner-btn{
    width: 197px;
    height: 50px;
    margin-top: 24px;
    padding: 10px;
    color: white;
  }
/* curriculum section styles */
  .bg-img{
    background-image: url(../bg.png);
  }
  .bg-color{
    background: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  }
  .curriculum-header {
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 57.5px;

  }
  .curriculum-container{
    margin: 140px 197.5px 140px 200px;
    justify-content: space-between;
    align-items: center;
    gap: 26.30px;
    text-align: center;
   
   
  }
  .curriculum-items{
    width: 367.8px;
    height: 476.78px;
    padding: 40px 61px 40px 58px;
  box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
 
  .previous-round, .next-round{
    border-radius: 30px;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 60px;
font-weight: 900;
line-height: 24px;

  }

  /* stories section styles */
  .article-header{
    color: rgb(0, 0, 0);
font-size: 2.9rem;
font-weight: 700;
text-align: center;
margin-bottom: 80px;
  }
  .article-container{
    justify-content: space-evenly;
    gap: 19px;
  }
.story1{
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  
  background: rgb(255, 255, 255);
}
  .story-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
    margin-left: 19px;

  }
  .story{
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    
    background: rgb(255, 255, 255);
  }
  .article-img{
    width: 100%;
  }
  .article-btn1{
    position: absolute;
    width: 174.51px;
    padding: 10px;
    margin-top: -30px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
border: 0;
border-radius: 47.93px;

background: rgb(60, 216, 232);

  }
  .article-btn2{
    position: absolute;
    width: 174.51px;
    padding: 10px;
    margin-top: -30px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
border: 0;
border-radius: 47.93px;

background: rgb(149, 178, 38);

  }
  .article-btn3{
    position: absolute;
    width: 174.51px;
    padding: 10px;
    margin-top: -30px;
    margin-left: 25px;
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
border: 0;
border-radius: 47.93px;

background: rgb(93, 88, 240);
  }
  .article-title-head{
    color: rgb(0, 0, 0);
   margin-left: 38px;

font-size: 1.5rem;
font-weight: 700;
  }
  .article-description-head {
    color: rgb(102, 102, 102);
font-size: 0.9rem;
font-weight: 500;
margin-left: 38px;
margin-right: 68px;
margin-bottom: 35px;

  }
  .article-title{
    color: rgb(0, 0, 0);
font-size: 0.9rem;
font-weight: 700;
margin: 37px 23px 62px 33px;

  }
  .article-button{
    margin-top: 80px;
    text-align: center;
  }
  .view-btn{
    color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 700;
letter-spacing: 0%;
text-align: center;
padding: 10px;
border-radius: 12px;
  }
  .clr{
    background-color: linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  }

  /* footer styles */
  .main-foter{
    
    justify-content: space-around;
    align-items:start;
    gap: 100px;
    margin-top: 70px;
    padding-top: 124px;
    padding-bottom: 174px;
    background-color:rgb(1, 172, 253);
    border: 0;
  }
  .education{
width: 400px;
  }

  .about-items{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }
  .about-items a{
    text-decoration: none;
  }
  .footer-description{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 1.25rem;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
  }
  .education-head{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
  }
  .about-head{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
  }
  .social{
    color: rgb(255, 255, 255);

font-size: 1.7rem;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
  }